[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
olefile = "*"
click = "*"
transliterate = "*"
pysmbclient = "==0.1.5"
python-tds = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
cli="python -m v7client"
